---
---
@import "variables";
@import "simple-typography/reset";
@import "simple-typography/mixins";
@import "simple-typography/style";
@import "rouge";
$daysOfTheWeek: {{ site.data.schedule.meets.size }};
$primary: {{ site.data.course.primary_color }};
$secondary: {{ site.data.course.secondary_color }};
.header {
  width: 100%;
}

// Schedule
.schedule {
  display: flex;
  width: 100%;
  max-width: 960px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.schedule .week {
  flex-grow: 4;
  flex-basis: 100%;
}

.schedule .meeting {
  flex-basis: 100% / $daysOfTheWeek - 1;
  margin: 0 1em $header-margin * 1.3 1em;
}

@media #{$mq-mobile} {
  .schedule .meeting {
    flex-basis: 100%;
  }
}

.schedule .date {
  font-weight: $ft-bold;
}
